body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:124px;
  width:300px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:253px;
  width:300px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:159px;
  width:300px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:207px;
  width:300px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:318px;
  width:300px;
  height:96px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:75px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:326px;
  width:172px;
  height:75px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:485px;
  width:300px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:539px;
  width:300px;
  height:151px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:438px;
  width:300px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:726px;
  width:300px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u54_input:disabled {
  color:grayText;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:785px;
  width:300px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
